<nav>
  <ul>
{%- for link in navigation.links %}
    <li>
      <a
        href="{{ link.url }}"
        {% if pathsHaveSameSection(page.url, link.url) %}aria-current="page"{% endif %}
      >
        {{ link.caption }}
      </a>
    </li>
{%- endfor %}
  </ul>
</nav>
