<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{ title }} - Christoph Gockel">
    <meta name="author" content="Christoph Gockel" />
    <meta name="description" content="I'm a software engineering consultant living in London, sharing what I've been working on." />

    <link rel="stylesheet" href="{{ '/css/almond.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">

    <title>{{ title }} - Christoph Gockel</title>
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>